In [3]:
import pandas as pd
import numpy as np
serie1 = pd.Series([4.5,17,-2,np.nan,12.6])
serie1

0     4.5
1    17.0
2    -2.0
3     NaN
4    12.6
dtype: float64

In [4]:
type(serie1)

pandas.core.series.Series

In [5]:
type(serie1.values)

numpy.ndarray

In [6]:
serie1.values

array([ 4.5, 17. , -2. ,  nan, 12.6])

In [7]:
type(serie1.index)

pandas.core.indexes.range.RangeIndex

In [36]:
serie1.index

RangeIndex(start=0, stop=5, step=1)

In [48]:
serie2 = Series([25, 20, 32,25], index=['Jean', 'Guy', 'Paul', 'Pierre'])
serie2

Jean      25
Guy       20
Paul      32
Pierre    25
dtype: int64

In [49]:
donnees= [[30, 'Avocate'], [35, 'Pompier'], [25, 'Médecin'], [40, 'Ingénieur']]
df1 = pd.DataFrame(donnees, index=['Paule', 'Guy', 'Eve', 'Pierre'], columns=['age', 'profession'])
df1

        age profession
Paule    30    Avocate
Guy      35    Pompier
Eve      25    Médecin
Pierre   40  Ingénieur

In [40]:
df1.index

Index(['Paule', 'Guy', 'Eve', 'Pierre'], dtype='object')

In [41]:
df1.columns

Index(['age', 'profession'], dtype='object')

In [42]:
df1['profession']

Paule       Avocate
Guy         Pompier
Eve         Médecin
Pierre    Ingénieur
Name: profession, dtype: object

In [43]:
df1['age']

Paule     30
Guy       35
Eve       25
Pierre    40
Name: age, dtype: int64

In [44]:
df1[1:3]

     age profession
Guy   35    Pompier
Eve   25    Médecin

In [45]:
df1.loc['Guy':'Eve', ['age']]

     age
Guy   35
Eve   25

In [46]:
df1.iloc[1:3, 0:1]

     age
Guy   35
Eve   25