In [2]:
import pandas as pd
import numpy as np
serie1 = pd.Series([4.5,17,-2,np.nan,12.6])
serie1

0     4.5
1    17.0
2    -2.0
3     NaN
4    12.6
dtype: float64

In [3]:
type(serie1)

pandas.core.series.Series

In [4]:
type(serie1.values)

numpy.ndarray

In [5]:
serie1.values

array([ 4.5, 17. , -2. ,  nan, 12.6])

In [6]:
type(serie1.index)

pandas.core.indexes.range.RangeIndex

In [7]:
serie1.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
serie1[2]

-2.0

In [11]:
serie1[1:4]

1    17.0
2    -2.0
3     NaN
dtype: float64

In [13]:
serie2 = pd.Series([25, 20, 32,25], index=['Jean', 'Guy', 'Paul', 'Pierre'])
serie2

Jean      25
Guy       20
Paul      32
Pierre    25
dtype: int64

In [14]:
serie2['Guy']

20

In [15]:
serie2['Guy':'Pierre']

Guy       20
Paul      32
Pierre    25
dtype: int64

In [25]:
donnees= [[30, 'Avocate'], [35, 'Pompier'], [25, 'Médecin'], [40, 'Ingénieur']]
df1 = pd.DataFrame(donnees, index=['Paule', 'Guy', 'Eve', 'Pierre'], columns=['age', 'profession'])
df1

        age profession
Paule    30    Avocate
Guy      35    Pompier
Eve      25    Médecin
Pierre   40  Ingénieur

In [26]:
df1.index

Index(['Paule', 'Guy', 'Eve', 'Pierre'], dtype='object')

In [27]:
df1.columns

Index(['age', 'profession'], dtype='object')

In [28]:
df1[1]

KeyError: 1

In [29]:
df1[1:3]

     age profession
Guy   35    Pompier
Eve   25    Médecin

In [30]:
df1[1:2]

     age profession
Guy   35    Pompier

In [31]:
df1['Guy']

KeyError: 'Guy'

In [32]:
df1['Guy':'Guy']

     age profession
Guy   35    Pompier

In [33]:
df1['Guy':'Eve']

     age profession
Guy   35    Pompier
Eve   25    Médecin

In [34]:
df1['profession']

Paule       Avocate
Guy         Pompier
Eve         Médecin
Pierre    Ingénieur
Name: profession, dtype: object

In [35]:
type(df1['profession'])

pandas.core.series.Series

In [36]:
df1['age']

Paule     30
Guy       35
Eve       25
Pierre    40
Name: age, dtype: int64

In [37]:
df1['age':'profession']

KeyError: 'age'

In [38]:
df1.loc['Guy':'Eve', ['age']]

     age
Guy   35
Eve   25

In [40]:
df1.loc['Guy':'Eve',['age','profession']]

     age profession
Guy   35    Pompier
Eve   25    Médecin

In [43]:
df1.loc['Guy':'Eve',['profession','age']]

    profession  age
Guy    Pompier   35
Eve    Médecin   25

In [41]:
df1.loc['Guy',['age']]

age    35
Name: Guy, dtype: object

In [42]:
df1.loc['Guy',['age','profession']]

age                35
profession    Pompier
Name: Guy, dtype: object

In [46]:
df1.iloc[1:3, 0:1]

     age
Guy   35
Eve   25

In [44]:
df1.iloc[2,0]

25

In [45]:
df1.iloc[1,0:2]

age                35
profession    Pompier
Name: Guy, dtype: object

In [47]:
df1.iloc[1:3,1]

Guy    Pompier
Eve    Médecin
Name: profession, dtype: object

In [48]:
df1.iloc[1:3]

     age profession
Guy   35    Pompier
Eve   25    Médecin